services:

  backend:
    build: ./server/
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    env_file:
      - ./server/.env

  frontend:
    build: ./client/
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    env_file:
      - ./client/.env.local
