@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Medium.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

:root {
  --font-switzer: 'Switzer', sans-serif;
  /*Handles the opacity for the svg in the background for dark/lightmode*/
  --svg-opacity: 1;
}

html.dark {
  --svg-opacity: 0.1;
}

@theme inline {

  /*Custom*/
  --color-cf-gray: #F2F2F2;
  --color-cf-lightgray: #F6F6F6;
  --color-cf-text: #404040;
}

body {
  font-family: var(--font-switzer);
}
