@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Medium.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

:root {
  --font-switzer: 'Switzer', sans-serif;
  /*Handles the opacity for the svg in the background for dark/lightmode*/
  --svg-opacity: 1;
  /*Handles color of the grid in the simpleBarChart*/
  --recharts-grid-stroke: #e0e0e0;
  /*Variables for the tooltip in rechart*/
  --recharts-tooltip-bg: #FbFbFbf2;
  --recharts-tooltip-text-title: #404040;
  --recharts-tooltip-text: oklch(0.627 0.194 149.214);
}

html.dark {
  --svg-opacity: 0.1;
  --recharts-grid-stroke: #6b7280;

  --recharts-tooltip-bg: #494949e8;
  --recharts-tooltip-text-title: #F2F2F2;
  --recharts-tooltip-text: oklch(0.627 0.194 149.214);
}

@theme inline {

  /*Custom*/
  --color-cf-gray: #F2F2F2;
  --color-cf-lightgray: #F6F6F6;
  --color-cf-text: #404040;
}

body {
  font-family: var(--font-switzer);
}

.recharts-cartesian-grid line {
  stroke: var(--recharts-grid-stroke);
  transition: stroke 0.2s;
}